<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
  <appSettings>

    <add key="HoursToCheckBack" value="-6"/>
    <add key="StationTimeOffset" value="-4"/>

  </appSettings>

  <connectionStrings>
     <add name="RTDBDEV" connectionString="Server=aquatic.pyr.ec.gc.ca;Database=ecPacificRealTimeWaterQuality;User Id=atlantic;Password=waterquality;"/>
     <add name="RTPROD" connectionString="Server=NATSQLAPPS2NCR.ncr.int.ec.gc.ca\ins2;Database=ecPacificRealTimeWaterQuality;User Id=lndb;Password=bdn1RTWQ;"/>
  </connectionStrings>
  
  
</configuration>
